VITE_SUPABASE_URL=https://wxjhrzxuhnmnqeibdwkk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4amhyenh1aG5tbnFlaWJkd2trIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NTI4OTYsImV4cCI6MjA4ODEyODg5Nn0.Q9Nq16UDX6Me81k0RHrFy5W20SIAKnwl73vLUv-ipP4
